<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">A</th>
          <th scope="col">B</th>
          <th scope="col">C</th>
        </tr>
      </thead>
      <tbody>

<% @cells.each do |cell| %>
  <% if cell.x == 1 %>
  <tr>
    <th class="row-dark" scope="row"><%=cell.y%></th>
  <%end%>

  <% if cell.y == 1 %>
  <td><%=cell.y%>|<%=cell.x%>|<%=cell.ship%><button type="button" value="<%=cell.id%>">Place</button></td>
  <% end %>

  <% if cell.y == 2 %>
  <td><%=cell.y%>|<%=cell.x%>|<%=cell.ship%><button type="button" value="<%=cell.id%>">Place</button></td>
  <% end %>

  <% if cell.y == 3 %>
  <td><%=cell.y%>|<%=cell.x%>|<%=cell.ship%><button type="button" value="<%=cell.id%>">Place</button></td>
  <% end %>

  <% if cell.x == 3 %>
      </tr>
  <% end %>

<%end%>
</tbody>
</table>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">A</th>
      <th scope="col">B</th>
      <th scope="col">C</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="row-dark" scope="row">1</th>
      <td>
        <div>
          1,1,1
        </div>
      </td>
      <td>1,2,1</td>
      <td>1,3,1</td>
    </tr>
    <tr>
      <th class="row-dark" scope="row">2</th>
      <td>2,1,1</td>
      <td>2,2,1</td>
      <td>2,3,1</td>
    </tr>
    <tr>
      <th class="row-dark" scope="row">3</th>
      <td>3,1,1</td>
      <td>3,2,1</td>
      <td>3,3,1</td>
    </tr>
  </tbody>
</table>
<hr>
<!-- <table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">A</th>
      <th scope="col">B</th>
      <th scope="col">C</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th class="row-dark" scope="row">1</th>
      <td>
        <div>
          1,1,2
        </div>
      </td>
      <td>1,2,2</td>
      <td>1,3,2</td>
    </tr>
    <tr>
      <th class="row-dark" scope="row">2</th>
      <td>2,1,2</td>
      <td>2,2,2</td>
      <td>2,3,2</td>
    </tr>
    <tr>
      <th class="row-dark" scope="row">3</th>
      <td>3,1,2</td>
      <td>3,2,2</td>
      <td>3,3,2</td>
    </tr>
  </tbody>
</table> -->

  </body>
</html>
