<h1></h1>

<b>
It is turn of <b>Player <%=@player_id%></b>

<% @cells.each do |cell| %>
  <% if @player_id == 1 %>
    <%= form_for [cell] do |t| %>
      <% if cell.player == 2 %>
        Cell has ship? <%=cell.ship%>
        | Player <%=cell.player %>
        | x: <%=cell.x%>
        | y: <%=cell.y%>
        | Cell has been hit ? <%=cell.hit%>
        <%= t.submit %>
      <% end %>
    <% end %>
  <% else %>
    <%= form_for [cell] do |t| %>
      <% if cell.player == 1 %>
        Cell has ship? <%=cell.ship%>
        | Player <%=cell.player %>
        | x: <%=cell.x%>
        | y: <%=cell.y%>
        | Cell has been hit ? <%=cell.hit%>
        <%= t.submit %>
      <% end %>
    <% end %>
  <% end %>
  <% else %>
<% end %>
</b>

<hr>
<%@moves.each do |move|%>
  Player <%=move.player_id %>, x <%=move.x%>, y <%=move.y%>, hit? <%=move.hit%> <br>
<%end%>
<hr>

<div class="container">
<i><h4>PLAYER 1 (User Name here)</h4>
<table class="table">
  <% data_x = 1 %>
  <% data_y = 1 %>
  <thead class="thead-dark">
  <tr><th>X</th><th>A</th><th>B</th><th>C</th></tr>
  </thead>
  <% 3.times do %>
  <tr>
    <th class="row-dark" scope="row"><%= data_y %></th>

    <% 3.times do %>

    <td>

      (y=<%= data_y %>, x=<%= data_x %>),

      <% player_cells = @cells.select{|element| element.player == 1}.select{|element| element.y == data_y}.select{|element| element.x == data_x} %>
      ship=<%= player_cells[0].ship %>, hit=<%= player_cells[0].hit %>
    <%= form_for player_cells do |t| %><%= t.submit %><%end%>

    </td>

      <% data_x += 1 %>
    <%end%>

      <% data_x = 1 %>
      <% data_y += 1 %>
  </tr>
  <%end%>


</table>
</i>
</div>

<hr>

<div class="container">
<i><h4>PLAYER 2 (User Name here)</h4>
<table class="table">
  <% data_x = 1 %>
  <% data_y = 1 %>
  <thead class="thead-dark">
  <tr><th>X</th><th>A</th><th>B</th><th>C</th></tr>
  </thead>
  <% 3.times do %>
  <tr>
    <th class="row-dark" scope="row"><%= data_y %></th>

    <% 3.times do %>

    <td>

      (y=<%= data_y %>, x=<%= data_x %>),

      <% player_cells = @cells.select{|element| element.player == 2}.select{|element| element.y == data_y}.select{|element| element.x == data_x} %>
      ship=<%= player_cells[0].ship %>, hit=<%= player_cells[0].hit %>
    <%= form_for player_cells do |t| %><%= t.submit %><%end%>

    </td>

      <% data_x += 1 %>
    <%end%>

      <% data_x = 1 %>
      <% data_y += 1 %>
  </tr>
  <%end%>


</table>
</i>
</div>
