<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">
  <meta charset="utf-8">
  <title></title>
</head>
<body>
  <div class="container row">
    <!-- <div class="col-6">
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">A</th>
        <th scope="col">B</th>
        <th scope="col">C</th>
      </tr>
    </thead>
    <tbody>

      <% @cells.each do |cell| %>
      <% if cell.x == 1 %>
      <tr>
        <th class="row-dark" scope="row"><%=cell.y%></th>
        <%end%>

        <% if cell.y == 1 %>
        <td><%=cell.y%>|<%=cell.x%>|<%=cell.ship%><button type="button" value="<%=cell.id%>">Place</button></td>
        <% end %>

        <% if cell.y == 2 %>
        <td><%=cell.y%>|<%=cell.x%>|<%=cell.ship%><button type="button" value="<%=cell.id%>">Place</button></td>
        <% end %>

        <% if cell.y == 3 %>
        <td><%=cell.y%>|<%=cell.x%>|<%=cell.ship%><button type="button" value="<%=cell.id%>">Place</button></td>
        <% end %>

        <% if cell.x == 3 %>
      </tr>
      <% end %>

      <%end%>
    </tbody>
  </table>
</div> -->



    <div class="col-10">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">A</th>
          <th scope="col">B</th>
          <th scope="col">C</th>
          <th scope="col">D</th>
          <th scope="col">E</th>
          <th scope="col">F</th>
          <th scope="col">G</th>
          <th scope="col">H</th>
          <th scope="col">I</th>
          <th scope="col">J</th>
        </tr>
      </thead>
      <tbody>
        <form>
          <tr>
            <th class="row-dark" scope="row">1</th>
            <td><div id="11"><input type="button" class="button" value="1100"></div></td>
            <td><div id="12"><input type="button" class="button" value="1200"></div></td>
            <td><div id="13"><input type="button" class="button" value="1300"></div></td>
            <td><div id="14"><input type="button" class="button" value="1400"></div></td>
            <td><div id="15"><input type="button" class="button" value="1500"></div></td>
            <td><div id="16"><input type="button" class="button" value="1600"></div></td>
            <td><div id="17"><input type="button" class="button" value="1700"></div></td>
            <td><div id="18"><input type="button" class="button" value="1800"></div></td>
            <td><div id="19"><input type="button" class="button" value="1900"></div></td>
            <td><div id="1A"><input type="button" class="button" value="1A00"></div></td>
          </tr>
          <tr>
            <th class="row-dark" scope="row">2</th>
            <td><div id="21"><input type="button" class="button" value="2100"></div></td>
            <td><div id="22"><input type="button" class="button" value="2200"></div></td>
            <td><div id="23"><input type="button" class="button" value="2300"></div></td>
            <td><div id="24"><input type="button" class="button" value="2400"></div></td>
            <td><div id="25"><input type="button" class="button" value="2500"></div></td>
            <td><div id="26"><input type="button" class="button" value="2600"></div></td>
            <td><div id="27"><input type="button" class="button" value="2700"></div></td>
            <td><div id="28"><input type="button" class="button" value="2800"></div></td>
            <td><div id="29"><input type="button" class="button" value="2900"></div></td>
            <td><div id="2A"><input type="button" class="button" value="2A00"></div></td>
          </tr>
          <tr>
            <th class="row-dark" scope="row">3</th>
            <td><div id="31"><input type="button" class="button" value="3100"></div></td>
            <td><div id="32"><input type="button" class="button" value="3200"></div></td>
            <td><div id="33"><input type="button" class="button" value="3300"></div></td>
            <td><div id="34"><input type="button" class="button" value="3400"></div></td>
            <td><div id="35"><input type="button" class="button" value="3500"></div></td>
            <td><div id="36"><input type="button" class="button" value="3600"></div></td>
            <td><div id="37"><input type="button" class="button" value="3700"></div></td>
            <td><div id="38"><input type="button" class="button" value="3800"></div></td>
            <td><div id="39"><input type="button" class="button" value="3900"></div></td>
            <td><div id="3A"><input type="button" class="button" value="3A00"></div></td>
          </tr>
          <tr>
            <th class="row-dark" scope="row">4</th>
            <td><div id="41"><input type="button" class="button" value="4100"></div></td>
            <td><div id="42"><input type="button" class="button" value="4200"></div></td>
            <td><div id="43"><input type="button" class="button" value="4300"></div></td>
            <td><div id="44"><input type="button" class="button" value="4400"></div></td>
            <td><div id="45"><input type="button" class="button" value="4500"></div></td>
            <td><div id="46"><input type="button" class="button" value="4600"></div></td>
            <td><div id="47"><input type="button" class="button" value="4700"></div></td>
            <td><div id="48"><input type="button" class="button" value="4800"></div></td>
            <td><div id="49"><input type="button" class="button" value="4900"></div></td>
            <td><div id="4A"><input type="button" class="button" value="4A00"></div></td>
          </tr>
          <tr>
            <th class="row-dark" scope="row">5</th>
            <td><div id="51"><input type="button" class="button" value="5100"></div></td>
            <td><div id="52"><input type="button" class="button" value="5200"></div></td>
            <td><div id="53"><input type="button" class="button" value="5300"></div></td>
            <td><div id="54"><input type="button" class="button" value="5400"></div></td>
            <td><div id="55"><input type="button" class="button" value="5500"></div></td>
            <td><div id="56"><input type="button" class="button" value="5600"></div></td>
            <td><div id="57"><input type="button" class="button" value="5700"></div></td>
            <td><div id="58"><input type="button" class="button" value="5800"></div></td>
            <td><div id="59"><input type="button" class="button" value="5900"></div></td>
            <td><div id="5A"><input type="button" class="button" value="5A00"></div></td>
          </tr>
          <tr>
            <th class="row-dark" scope="row">6</th>
            <td><div id="61"><input type="button" class="button" value="6100"></div></td>
            <td><div id="62"><input type="button" class="button" value="6200"></div></td>
            <td><div id="63"><input type="button" class="button" value="6300"></div></td>
            <td><div id="64"><input type="button" class="button" value="6400"></div></td>
            <td><div id="65"><input type="button" class="button" value="6500"></div></td>
            <td><div id="66"><input type="button" class="button" value="6600"></div></td>
            <td><div id="67"><input type="button" class="button" value="6700"></div></td>
            <td><div id="68"><input type="button" class="button" value="6800"></div></td>
            <td><div id="69"><input type="button" class="button" value="6900"></div></td>
            <td><div id="6A"><input type="button" class="button" value="6A00"></div></td>
          </tr>
          <tr>
            <th class="row-dark" scope="row">7</th>
            <td><div id="71"><input type="button" class="button" value="7100"></div></td>
            <td><div id="72"><input type="button" class="button" value="7200"></div></td>
            <td><div id="73"><input type="button" class="button" value="7300"></div></td>
            <td><div id="74"><input type="button" class="button" value="7400"></div></td>
            <td><div id="75"><input type="button" class="button" value="7500"></div></td>
            <td><div id="76"><input type="button" class="button" value="7600"></div></td>
            <td><div id="77"><input type="button" class="button" value="7700"></div></td>
            <td><div id="78"><input type="button" class="button" value="7800"></div></td>
            <td><div id="79"><input type="button" class="button" value="7900"></div></td>
            <td><div id="7A"><input type="button" class="button" value="7A00"></div></td>
          </tr>
          <tr>
            <th class="row-dark" scope="row">8</th>
            <td><div id="81"><input type="button" class="button" value="8100"></div></td>
            <td><div id="82"><input type="button" class="button" value="8200"></div></td>
            <td><div id="83"><input type="button" class="button" value="8300"></div></td>
            <td><div id="84"><input type="button" class="button" value="8400"></div></td>
            <td><div id="85"><input type="button" class="button" value="8500"></div></td>
            <td><div id="86"><input type="button" class="button" value="8600"></div></td>
            <td><div id="87"><input type="button" class="button" value="8700"></div></td>
            <td><div id="88"><input type="button" class="button" value="8800"></div></td>
            <td><div id="89"><input type="button" class="button" value="8900"></div></td>
            <td><div id="8A"><input type="button" class="button" value="8A00"></div></td>
          </tr>
          <tr>
            <th class="row-dark" scope="row">9</th>
            <td><div id="91"><input type="button" class="button" value="9100"></div></td>
            <td><div id="92"><input type="button" class="button" value="9200"></div></td>
            <td><div id="93"><input type="button" class="button" value="9300"></div></td>
            <td><div id="94"><input type="button" class="button" value="9400"></div></td>
            <td><div id="95"><input type="button" class="button" value="9500"></div></td>
            <td><div id="96"><input type="button" class="button" value="9600"></div></td>
            <td><div id="97"><input type="button" class="button" value="9700"></div></td>
            <td><div id="98"><input type="button" class="button" value="9800"></div></td>
            <td><div id="99"><input type="button" class="button" value="9900"></div></td>
            <td><div id="9A"><input type="button" class="button" value="9A00"></div></td>
          </tr>
          <tr>
            <th class="row-dark" scope="row">A</th>
            <td><div id="A1"><input type="button" class="button" value="A100"></div></td>
            <td><div id="A2"><input type="button" class="button" value="A200"></div></td>
            <td><div id="A3"><input type="button" class="button" value="A300"></div></td>
            <td><div id="A4"><input type="button" class="button" value="A400"></div></td>
            <td><div id="A5"><input type="button" class="button" value="A500"></div></td>
            <td><div id="A6"><input type="button" class="button" value="A600"></div></td>
            <td><div id="A7"><input type="button" class="button" value="A700"></div></td>
            <td><div id="A8"><input type="button" class="button" value="A800"></div></td>
            <td><div id="A9"><input type="button" class="button" value="A900"></div></td>
            <td><div id="AA"><input type="button" class="button" value="AA00"></div></td>
          </tr>
        </form>
      </tbody>
    </table>
  </div>
</div>

</body>
</html>
