<h1></h1>


<% @cells_1.each do |cell| %>
  <%= form_for [cell] do |t| %>
    <% @status = "         " %>
    <% if cell.hit == true %>
      <% if cell.ship == true %>
        <% @status = " HIT   " %>
      <% else %>
        <% @status = " MISS" %>
      <% end %>
    <% end %>
    <%= t.submit @status %>
  <% end %>
<% end %> <br>

<% @cells_2.each do |cell| %>
  <%= form_for [cell] do |t| %>
    <% @status = "         " %>
    <% if cell.hit == true %>
      <% if cell.ship == true %>
        <% @status = " HIT   " %>
      <% else %>
        <% @status = " MISS" %>
      <% end %>
    <% end %>
    <%= t.submit @status %>
  <% end %>
<% end %> <br>

<% @cells_3.each do |cell| %>
  <%= form_for [cell] do |t| %>
    <% @status = "         " %>
    <% if cell.hit == true %>
      <% if cell.ship == true %>
        <% @status = " HIT   " %>
      <% else %>
        <% @status = " MISS" %>
      <% end %>
    <% end %>
    <%= t.submit @status %>
  <% end %>
<% end %> <br>
